/*
 * Advanced sample settings
 */
@import "util/util";

// If false, will silent all deprecation warning for Compass mixins
// in "utils/deprecations"
$emencia-compass-deprecation-warning: false;

$font-family-opensans: "Open Sans", sans-serif;

// Consistant colors names facility
$white: #ffffff;
$black: #000000;


///
/// FOUNDATION6 SETTINGS
///


// 1. Global
// ---------

$body-font-family: $font-family-opensans;
$global-font-size: 16px;
$global-weight-normal: 400;


// 2. Breakpoints
// --------------

$breakpoint-classes: (small medium large xlarge xxlarge);

// Legacy media queries
$small-up: screen;
$medium-up: unquote("screen and #{breakpoint(medium)}");


///
/// Sveetoy parts
///


// A1. Sveetoys Query Ranges
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Common available breakpoints taken from Foundation breakpoints
$sveetoy-breakpoints: (
    small: $small-up,
    medium: $medium-up,
);


// A3. Sveetoys typography
// - - - - - - - - - - - - - - - - - - - - - - - - -


// <small/> sizes
$sveetoy-smalls: (
    small: 40%,
    big: 60%,
);

// .underline features
$sveetoy-underline-thickness: (
    thin: (
        size: rem-calc(1px),
        style: solid,
    ),
    normal: (
        size: rem-calc(3px),
        style: solid,
    ),
);

// A4. Sveetoys spaces
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Defines default space sizes with their breakpoint values
$sveetoy-space-tiny: (
    small: 0.5rem,
    medium: 0.75rem,
) !default;

// Space scheme
$sveetoy-spaces: (
    tiny: $sveetoy-space-tiny,
) !default;


// Define button variables using default Foundation values
$button-sml: rem-calc(14);
$button-med: rem-calc(16);
// Use button variables for .modest feature
$sveetoy-button-modests: (
    small: $button-sml / 2,
    medium: $button-med / 2,
);


// A6. Sveetoys Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Larger row width for xlarge screens and more
$row-larger-width: rem-calc(1328px);


// A7. Sveetoys Flexbox
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Fleg grid cell sizes
$flex-grid-sizes: 20 25 33.3333 50 75 100;
